* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
}

.hero {
  min-height: 100vh;
  background: radial-gradient(circle at top,
  rgba(30, 41, 59, 0.7),
  rgba(2, 6, 23, 0.85)), url('fondo.jpg');
  background-position: center;
  background-size: cover;
  padding: 40px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span { color: #22d3ee; }
.logo { max-width: 80px;}
.hero-content {
  max-width: 750px;
  margin: 120px auto;
  text-align: center;
}
.hero-content h1,.hero-content h2 {
  margin-bottom: 20px;
}

.section {
  padding: 80px 20px;
  text-align: center;
}

.dark {
  background: #020617;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 40px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px;
  border-radius: 16px;
  transition: transform .3s;
  font-size: x-large;
}

.card:hover {
  transform: translateY(-8px);
}

.btn {
  padding: 12px 28px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.primary {
  background: #22d3ee;
  color: #020617;
}

.ghost {
  border: 1px solid #22d3ee;
  color: #22d3ee;
  background: transparent;
}

/* ANIMACIONES */
.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all .8s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

/* CAROUSEL */
.carousel {
  overflow: hidden;
  margin-top: 40px;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 40px;
  animation: scroll 20s linear infinite;
}

.client {
  display: flex;
  flex-direction: column;   /* logo arriba, texto abajo */
  align-items: center;      /* centra horizontalmente */
  justify-content: center;  /* centra verticalmente */
  text-align: center;
  min-width: 160px;         /* ajusta según tu carrusel */
}

.client img {
  width: 120px;
  border-radius: 12px;
  background: white;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* FORM */
.form {
  max-width: 420px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, textarea {
  padding: 14px;
  border-radius: 10px;
  border: none;
}

.footer {
  padding: 30px;
  text-align: center;
  color: #94a3b8;
}
.d-inline-block{
  display: inline-block;
}
.cursor::after {
  content: "|";
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .carousel-track {
    animation-duration: 12s;
  }
}